.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebarFriendImg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2.5px 10px;
}